[client]
quick
socket = /tmp/mysql.sock
default-character-set = utf8
port = 3306

[mysqld]
federated = OFF
server-id = 1
socket = /tmp/mysql.sock
pid-file = /www/mysql/mysql.pid
explicit_defaults_for_timestamp
character-set-server = utf8
datadir = /www/mysql
user = mysql
port = 3306
back_log = 1024
max_connections = 1024
max_connect_errors = 10240
max_allowed_packet = 64M
sort_buffer_size = 8M
join_buffer_size = 64M
query_cache_type = OFF
query_cache_size = 0
query_cache_limit = 8M
query_cache_min_res_unit = 2k
default-storage-engine = InnoDB
thread_cache_size = 1024
thread_stack = 1024K
tmp_table_size = 256M
max_heap_table_size = 128M
table_open_cache = 512
open_files_limit = 10240
ft_min_word_len = 4
event_scheduler = 1
sync_binlog = 1
sync_relay_log = 1
wait_timeout = 120
net_read_timeout = 60
external-locking = FALSE
performance_schema = 0
lower_case_table_names = 0
log_bin_trust_function_creators = ON

# -------------- #
# MyISAM Options #
# -------------- #
key_buffer_size = 8M
read_buffer_size = 8M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 32M
myisam_sort_buffer_size = 64M
#myisam_max_extra_sort_file_size = 10G
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1
myisam-recover-options
skip-name-resolve
skip-external-locking
slave-skip-errors = 1032,1062,126,1114,1146,1048,1396

# -------------- #
# InnoDB Options #
# -------------- #
innodb_use_native_aio = 1
innodb_use_sys_malloc = 1
innodb_buffer_pool_size = 512M
#innodb_additional_pool_size ＝ 32
innodb_buffer_pool_instances = 1
innodb_data_file_path = ibdata1:1G:autoextend
innodb_log_group_home_dir = /www/mysql/
innodb_flush_method = 'O_DIRECT'
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 16M
innodb_log_file_size = 2048M
innodb_log_files_in_group = 2
innodb_max_dirty_pages_pct = 85
innodb_lock_wait_timeout = 120
innodb_file_per_table = 1
innodb_doublewrite = 0

innodb_rollback_on_timeout
innodb_status_file
transaction_isolation = READ-COMMITTED 
innodb_thread_concurrency = 32
innodb_autoinc_lock_mode = 1
innodb_lru_scan_depth = 800
innodb_io_capacity = 800
innodb_io_capacity_max = 1600
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_stats_on_metadata = 0
innodb-support-xa = 0

# --------------- #
# Logging Options #
# --------------- #
#binlog_format = STATEMENT
binlog_format = MIXED
binlog_cache_size = 8M
max_binlog_cache_size = 1G
max_binlog_size = 1G
expire_logs_days = 30
#long_query_time = 1
#slow_launch_time = 2
#slow_query_log = ON
#slow_query_log_file = /var/log/mysql/slow.log
#log_queries_not_using_indexes = ON
#log-slow-admin-statements
#log_slow_slave_statements
log-error = /var/log/mysql/mysql_error.log
log-bin = /var/log/mysql/binlog
#relay-log-index = /var/log/mysql/relaylog-index
#relay-log-info-file = /var/log/mysql/relaylog-info
#relay-log = /var/log/mysql/relaylog

[mysqldump]
quick
max_allowed_packet = 512M
